header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 56px;

    place-items: center;
}

nav {
    display: block;
}

.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    height: 100%;
}

.logo {
    font-weight: bold;
    font-size: 2rem;
    font-family: Comfortaa;
}