<header>
    <div class="logo">wikikode;</div>

    <div class="theme-toggle" (click)="toggleDarkMode()">
        <img src="../assets/sunny.svg">
        <img src="../assets/moon.svg">
    </div>

    <nav>
        <ul class="top-menu">
            <li routerLink="/home" routerLinkActive="active">
                <div class="name">Home</div>
                <div class="line"></div>
            </li>
            <li routerLink="/about" routerLinkActive="active">
                <div class="name">About</div>
                <div class="line"></div>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>