.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
}




@media only screen and (max-width: 600px) {
    .card-container{
        margin-left: 10%;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 1%;
    }
    

}